body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(/Content/Asset/concert-lights.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #26010B;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-box {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.62857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.jumbotron {
    background-color: #F2EC99;
    border-style: solid;
    border-width: 1.5em;
    border-color: #26010B;
    margin-top: 4em;
    text-align: center;
}

.navbar {
    background-color: #26010B;
}

.btn {
    background-color: #730220;
    color: white;
}

/* Footer Styling*/
.footer-text {
    text-align: center;
    font-weight: bold;
    color: #C9DBE7;
}

/*index tables*/
.table {
    background-color: #F2EC99;
    border-style: solid;
    border-width: .5em;
    border-color: #170006;
    border-radius: 2px;
    text-align: center;
    color: #33010E;
    font-weight: bold;
}
    .table th {
        background-color: #33010E;
        text-align: center;
        color: #C9DBE7;
        font-size: 18px;
    }
.table td {
        border-top: solid !important;
        border-top-color: #33010E !important;
    }

a {
    color: #BF0426;
    font-weight: bold;
}

h2 {
    color: #C9DBE7;
}

h4 {
    font-weight: bold;
}
#create_actionLink {
    color: #F2EC99;
}

/* Show Details View*/


.detail-block {
    margin-top: 6em;
    background-color: #F2EC99;
    border-style: solid;
    border-color: #26010B;
    border-width: 1em;
    border-radius: 2em;
    
}
.headline {
    color: #26010B;
    font-weight: bold;
    text-align: center;
}
h1{
    font-weight: bold;
    color: red;
}
#objectName {
    text-align: center;
    color: #26010B;
    font-weight: bold;
}
ul{
    list-style:none;
}

.action-links{
    text-align: center;
}

#venue_header{
    text-align: center;
}
#venue_details_inShow li{
    
    padding-bottom: .5em;
}

/* Edit Show Page*/

.edit_show h2{
    text-align: center;
}
#editor-artistList{
    text-align: center;
}
#submit_btns{
    text-align: center;
}
#addArtist-dropdown{
    padding-top: 3em;
}

/*Venue Details Page*/
#venue_details{
    text-align: center;
}
.table_block h4{
    text-align: center;
}
